<img src="https://devu.in/devu-logo.png" alt="devU.in logo">

## Instructions for python basics, test paper 1.

- All questions are compulsory.
- Questions 1-5 have 2 marks each. Questions 6-10 have 3 marks each. Questions 10-15 have 5 marks each. No negative marking.
- Total marks: 50. Test time: 120 minutes

<p>Sumit the testpaper via <strong>email to ram@devu.in </strong>(HTML format preferred).</p>

### Fill the details below

- <strong>Name</strong> : 
- <strong>Batch</strong> : [HSR, RM Nagar, Noida, Online] 
- <strong>Batch cycle</strong> : [Weekdays/Weekends]

#### 1.  Who is the author of python programming language?
```
    A. Monte Python
    B. Guido Van Rossum
    C. Larry Wall
    D. David H. Hansson
```

In [1]:
# Answer:

#### 2.  Which of them will be False?
```
    A. "hello" == 'hello'
    B. 'a' == 'A'
    C. 5 in [3, 4, 5]
    D. 'a' not in "AEIOU"
```

In [2]:
# Answer:

#### 3. What will be the output of following statement?

```
[1, 2, 3] * 2
```

```
    A. [2, 4, 6]
    B. [1, 2, 3, 1, 2, 3]
    C. [[1, 2, 3], [1, 2, 3]]
    D. [[1, 2, 3]]
```

In [3]:
# Answer:

#### 4. What will be the output of following statement?

```
len("""""")
```

```
    A. 0
    B. 1
    C. 3
    D. 6
```

In [4]:
# Answer:

#### 5. What will be the output of following statement?

```
for i in range(3):
    for j in "ant":
        print(i, end=" ")
```

```
    A. a n t
    B. a n t a n t a n t
    C. 0 0 0 1 1 1 2 2 2 
    D. aaa nnn ttt
```

In [5]:
# Answer:

#### 6. Write a program count the number of consonants in the word "Aeroplane".

#### 7. Write a program to swap the case of each letter in a given word.

```
    Example: 'AeROplaNe' --> 'aEroPLAnE'
```

#### 8. Write a program to remove duplicate letters from a given word (case-insensitive).
```
    Example1: 'foosball' --> 'fosbal'
    Example2: 'Aeroplane' --> 'Aeropln'
```

#### 9. Write a program to return a list of all the names before a specified name.
```
    >>> ['Sachin', 'Sourav', 'Rahul', 'Virendar', 'Suresh', 'Mahindar'], 'Rahul'
    ['Sachin', 'Sourav']
```

#### 10. Write a program to count the number of names beginning with vowels in a given tuple of names.

```
    >>> ['Apple', 'Google', 'iGate', 'devU', '3M', 'Oracle']
    3
```

#### 11. WAP to validate a given password with below criteria:

```
    i) Password length must be 6 or more
    ii) It must contain at least one digit
    iii) It must contain at least one special character
    iv) It must contain at least one UPPERCASE character.
    v) It must begin with an alphabet.
```

#### 12. WAP to find the uncommon data items in two given lists. Also sort the result and remove duplicates if any.

```
    >>> [1, 2, 4, 3, 5, 5, 6], [4, 5, 1, 1, 7, 9, 3, 7]
    [2, 6, 7]
```

#### 13. WAP to find the number of occurances of digit in book page numbers. 

```
Example:
    
    Book size: 11 , i.e, page numbers are [1, 2, 3, 4, 5, 6, 7, 8,  10, 11] 
    Digit to find: 1
        
    Output: 4 for number of occurances of 1 in [1, 10, 11]
```

#### 14. WAP to sum of first digits in a given list of number.

```
    >>> [1, 23, 450, 333, 5000]
    Hint: 1+2+4+3+5
    Output: 15
```

#### 15. WAP to validate a given ipv4 address. For the ipv4 address to valid their must be only 4 octets and all of them must be between 0-255.

```
Example: 
    '192.168.1.10' --> Valid ip address
    '10.234.567.2' --> Invalid ip address
    '10.23.34.5.6' --> Invalid ip address
```